* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 21px 0px;
}

.left {
    margin-right: 20rem;
}

.right a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    padding: 12px 21px;
    color: rgb(143, 170, 172);
}

.right a:hover {
    color: #00f7ff;
}


/* ..................now we starts css for our section............................  */

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 11rem;
}

.para h2 {
    font-family: sans-serif;
    font-size: large;
    font-weight: 600;
    color: rgb(5, 252, 170);
}

.para h1 {
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 800;
    padding: 14px 0px;
    color: #00f7ff;
}

.para p {
    font-size: large;
    font-family: sans-serif;
    color: #6b8e8e;
    line-height: 25px;
    margin-bottom: 12px;
}

.para button {
    padding: 10px 33px;
    font-size: inherit;
    font-weight: 600;
    border-style: hidden;
    color: rgb(9, 251, 186);
    background-color: rgb(34, 107, 83);
    border-radius: 12px;
}

.para button:hover {
    background-color: rgb(0, 240, 248);
    color: black;
    cursor: pointer;
}

.para a {
    font-size: initial;
    font-family: sans-serif;
    text-decoration: none;
    border: 2px solid rgb(48, 159, 159);
    padding: 10px 33px;
    margin-left: 10px;
    color: #00f7ff;
    border-radius: 12px;
    font-weight: 600;
}

.para a:hover {
    color: #00f7ff;
    color: rgba(0, 255, 166, 0.414);
}